
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

html, 
body{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: black;
}

/* CONTAINER STARTS HERE */
.container{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(rgba(17, 1, 48, 0.774) 15%, rgba(6, 0, 31, 0.945) 70%), url(/img/african-bizman.jpg);
    background-position: center;
    background-size: cover;
}

/* NAV STARTS HERE */
nav{
    width: 100%;
    height: 11vh;
    color: white;
    opacity: 1;
    position: fixed;
    background-color: #11031b;
    z-index: 7;
}

.nav-wrapper{
    width: 85%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo-container{
    width: 10%;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo-container p{
    font-size: 3.8rem;
    font-weight: 600;
    
}
.colored {
    color:rgb(166, 120, 252);
} 

/*LOGO CONTAINER STARTS HERE */

/* THE NAV LINKS START HERE */

.nav-container{
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 11vh;

}
.nav-container a {
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    color: #b2a3ce;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.1;
}

.nav-container a:hover{
    color: white;
}
.nav-container a:nth-child(5),
.nav-container a:nth-child(6),
.nav-container a:nth-child(7){
    font-weight: 400;
}
.nav-container a:nth-child(7){
    padding: 14px 30px;
    background-color: #4611A7;
    border-radius: 30px;
    color: white;
}
.nav-container a:nth-child(7):hover{
    background-color: rgb(103, 44, 212);
}

/* HAMBURGER STARTS */

.hamburger-wrapper {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    display: none;
 
    
    
}
.hamburger {
    width: 20px;
    height: 1px;
    background-color: white;
    margin-top: 6px;
    /* z-index: 10; */
}

/* HEADER STARTS HERE */

header{
    width: 83%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 8rem;
    color: white;

}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 60px;
}
.header-text{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    text-align: center;
}

.header-text h1{
    font-size: 7rem;
    font-weight: 700;
}

.header-text p{
    font-size: 5rem;
    font-weight: 100;
}

.form-content{
   width: 97%;
   margin: 0 auto;
   background-color: #F7F7FF;
   padding: 22px 18px;
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
   border-radius: 5px; 
}
.input-container {
    width: 77.7%;
    /* height: 10vh; */
    display: flex;
    justify-content: space-between;
}
.text-input{
    font-family: 'Rubik', sans-serif;
    font-size: 1.7rem;
    padding-left: 30px;
    width: 49.3%;
    height: 10vh;
    border-radius: 5px;
    border: 1px solid rgb(231, 231, 231);
}

.text-input:focus {
    border: 1px solid rgb(231, 231, 231);
    outline: none;
}
.form-content select{
    color: gray;
}
.form-content select option{
    font-size: 2.3rem;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 10vh;
    outline: none;
}

.submit-container {
    width: 21%;
    height: 10vh;
    displaY: flex;
}
.submit-input{
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 10vh;
    font-size: 1.7rem;
    background-color: #4611A7;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-input:hover{
    background-color: rgb(103, 44, 212);
}
.header-textTwo{
    font-family: 'Rubik', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    z-index: 1;
    color: rgb(180, 161, 194);
    position: relative;
    top: 100px;
    word-spacing: 0.3rem;
    display: none;
} 

/* NAV AND HEADER SECTION END HERE */

/* SIDE NAV STARTS */

.mobile-nav{
    position: fixed;
    left: -40%;
    top: 0;
    width: 40%;
    height: 100vh;
    background-color: rgb(5, 3, 10);
    z-index: 10;
    display: none;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
}

.side-logo {
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
}
.side-logo h4 {
    font-size: 4rem;
    color: rgb(118, 67, 212);
}
.dotted {
    color: rgb(209, 199, 218);
    font-size: 
}
.sidelinks-container {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    margin-top: 40px;

}
.sidelinks-container li {
    list-style-type: none;
    border-top: 1px solid rgb(23, 22, 24);
    padding: 12px 0;
    padding-left: 20px;
}

.sidelinks-container a:nth-child(4) {
   border-bottom: 1px solid rgb(23, 22, 24);
}
.sidelinks-container a {
    color: rgb(230, 224, 235);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    transition: all 500ms;  
}
.sidelinks-container a:hover {
    background-color: rgb(230, 224, 235);
    color: rgb(5, 3, 10);
}


/* INPUT CHECKBOX */
.checkbox {
    position: absolute;
    top: -20px;
    visibility: hidden;
}

.checkbox:checked ~ .mobile-nav {
    left: 0;
}

/* TOP LISTING TEXT STARTS HERE */

.first-section{
    margin-top: 100px;
    margin-bottom: 120px;
}

.listing-text{
    width: 60%;
    height: 30vh;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3.7rem;
    text-align: center;
}
.listing-text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    color:rgb(12, 14, 26);
}
hr {
    color: grey;
    width: 65px;
    height: 3.8px;
    background-color: #4611A7;
    margin-top: 40px;
   
    border: 1px solid #4611A7;
}
.listing-text p {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    color: rgb(96, 98, 105);
    margin-top: 20px;
}

/* LISTING CARDS START HERE */

.card-container{
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    /* align-items: space-around; */
    flex-wrap: wrap;
}

.card { 
    color: rgb(96, 98, 105);
    font-family: 'Rubik', sans-serif;
    width: 30%;
    border-radius: 7px;
    line-height: 3.2rem;
    box-shadow: 0 4px 25px 10px rgba(156, 134, 197, 0.103), 0 6px 40px 10px rgba(156, 134, 197, 0.103);
    margin-bottom: 90px;
}

.card-img{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-text{
    font-size: 1.6rem;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: 500;     
}

.card-text p:nth-child(1){
    color: rgb(79, 189, 79);
    font-size: 1.8rem;
    font-weight: 400;
}
.card-text p:nth-child(2){
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(96, 98, 105);
}
.rest-reviews{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color: rgb(96, 98, 105);
}
.address-cont{
    width: 100%;
}
.address{
    padding: 7px 20px;
    font-size: 1.4rem;
    border-top: 1px solid rgb(228, 227, 230);
    display: flex;
    justify-content: space-between;
}
 .address span{
    color: rgb(96, 98, 105);
    font-weight: 400;   
}






/* FOOTER SECTION STARTS HERE */

footer {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 90vh;
    background-color: #11031b;
    color: rgba(169, 166, 180, 0.932);
    padding-top: 140px;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.8rem;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(210, 204, 221);
}
.social {
    width: 40%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: baseline;
}
.social a{
    font-size: 3rem;
}

footer li{
    list-style-type: none;
}

footer p{
    font-family: 'Rubik', sans-serif;
}
footer a {
    font-weight: 500;
    text-decoration: none;
    font-size: 1.9rem;
    /* color: rgb(204, 201, 218); */
    color: rgba(169, 166, 180, 0.932);

}
footer a:hover {
    color: white;
}
.footer-container{
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}
.footer{
    width: 35%;
    height: 20vh;
    line-height: 4.3rem;
    display: flex;
    flex-direction: column;
}
.footer h3,
.footer1 h4,
.footer2 h4,
.footer h4{
    margin-bottom: 20px;
}

.category {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.footer1, 
.footer2{
    width: 40%;
    height: 50vh;
}
.footer p {
    font-size: 1.8rem;
}
.footer-logo{
    line-height: 4.3rem;
}

.footer-logo h3{
    font-size: 4.3rem;
}

.contact h4,
.contact h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;  
}
.contact h5{
    font-weight: 600;
}


.contact {
    font-family: 'Montserrat', sans-serif;
    line-height: 4rem;
}


/* MEDIA QUERY STARTS */

@media (max-width: 1200px){
    .container {
        width: 100%;
    }

    .nav-container a {
        font-size: 1.6rem;
    }

}


@media (max-width: 1120px){
    .container {
        width: 100%;
    }
    .nav-container{
        width: 80%;
    }
    .nav-container a {
        font-size: 1.5rem;
    }
    .logo-container p{
        font-size: 3.4rem;
    }

}

@media (max-width: 1198px){
    .container {
        width: 100%;
    }

    .nav-container{
        width: 85%;
        font-size: 1.2rem;
    }
    .logo-container p{
        font-size: 3rem;
    }

    .card{
        width: 40%;
    }
    .footer-container {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .footer {
        width: 45%;
        height: 30vh;
        line-height: 2.5rem;
        /* width: 100%; */
    }
    .contact{
        line-height: 2.5rem;
        
    }
    .footer:nth-child(3){
        padding-top: 60px;
    }
    footer {
        height: 100vh;
    }
    .nav-container a {
        font-size: 1.5rem;
    }
   
}

@media (max-width: 988px){
    .nav-container a:nth-child(4){
        display: none;
    }
    .card{
        width: 40%;
    }
    .nav-container a{
        font-size: 1.5rem;
    }
    .header-text h1{
        font-size: 6rem;
    }
    .header-text p{
        font-size: 5rem;
    }
}

@media (max-width: 804px){
    .nav-container a:nth-child(4){
        display: none;
        
    }
    .hamburger-wrapper {
        display: block;
    }

    .header-text {
        line-height: 6rem;
    }

    .header-text h1{
        font-size: 5rem;
        font-weight: 600;
    }
    .header-text p{
        font-size: 4rem;
    }
    .text-input{
        padding-left: 15px;  
    }
    
    .form-content{
        height: 28.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
      
     }
    .input-container {
        width: 100%;
        display: flex;
        justify-content: ;
    }
    .text-input {
        display: flex;
        width: 49%;
        font-size: 1.5rem;
    }
     

     .submit-container{
         width: 100%;
     }
     .card{
        width: 80%;
    }

    .nav-container a:nth-child(1),
    .nav-container a:nth-child(2),
    .nav-container a:nth-child(3){
        display: none;
    }
    .nav-container {
        width: 70%;
    }
    .nav-container a:nth-child(7){
        padding-right: 15px;
        padding-left: 15px;
    }
    .mobile-nav {
        display: block;
    }
    

}


@media (max-width: 560px){
    .header-text {
        line-height: 4rem;
    }

    .header-text h1{
        font-size: 3rem;
        font-weight: 600;
    }
    .header-text p{
        font-size: 3rem;
    }
    .form-content{
        height: 39vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
      
     } 
    .input-container {
        width: 100%;
        height: 21vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .text-input {
        display: flex;
        width: 100%;
        font-size: 1.8rem;
    }

    .nav-container .add-listing {
        display: none;
    }

    .nav-container .register {
            padding: 14px 30px;
            background-color: #4611A7;
            border-radius: 30px;
            color: white;
            color: #e3dcf1;
            padding: 11px 20px;
    }

    .nav-container .register:hover{
        background-color: rgb(103, 44, 212);
    }

    

   
}

